.login-page {
    width: 400px;
    height: 600px;
    margin: auto;
    margin-right: 10%;
    margin-top: 10%;
}

.form {
    position: relative;
    background: #FFFFFF;
    /* max-width: 400px; */
    /* max-height: 600px; */
    /* margin: auto; */
    padding: 30px;
    text-align: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.3);
}

.title {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
}

.form input {
    font-family: "Roboto", sans-serif;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin-bottom: 15px;
    padding: 15px;
    font-size: 14px;
}

.form button {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    background: #333333;
    width: 100%;
    border: 0;
    padding: 15px;
    color: white;
    margin-top: 10%;
}

.form button:hover,
.form button:active,
.form button:focus {
    background: #222222;
}

body {
    background-color: lightgray
}